{% extends "base.html" %} 

{% block style %}
<style>
  html,
  body {
    height: 100%;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }
  .form-container {
    width: 300px;
    margin: auto;
  }
  .outer-area {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 600px;
    margin: auto;
    background: #1d3557;
  }
</style>
{% endblock %} 

{% block content %}
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="outer-area">
    <div class="auth-box text-center">
        {% block auth %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
