<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Question Time</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display"
      rel="stylesheet"
    />
    <!-- html-webpack-inject will inject head assets below -->
  <link href="http://127.0.0.1:8080/js/answer-editor.js" rel="prefetch"><link href="http://127.0.0.1:8080/js/not-found.js" rel="prefetch"><link href="http://127.0.0.1:8080/js/question-editor.js" rel="prefetch"><link href="http://127.0.0.1:8080/js/question-page.js" rel="prefetch"><link href="http://127.0.0.1:8080/question-editor.6c41a4f0b1c26b7cc4d4.hot-update.js" rel="prefetch"><link href="http://127.0.0.1:8080/js/app.js" rel="preload" as="script"><link href="http://127.0.0.1:8080/js/chunk-vendors.js" rel="preload" as="script"></head>
  <body>
    <noscript>
      <strong
        >We're sorry but frontend doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>

    <div id="app"></div>
    <!-- html-webpack-inject will inject body assets below -->
  <script type="text/javascript" src="http://127.0.0.1:8080/js/chunk-vendors.js"></script><script type="text/javascript" src="http://127.0.0.1:8080/js/app.js"></script></body>
</html>
